.Recipes {
  flex-grow: 1;
  margin-left: 50px;

  &-title {
    margin-left: 50px;
  }

  &-title:after {
    content: ' :'
  }

  &-empty-search {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
  }

  &-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
